# dependencies to run larray tutorials (via nbsphinx)
numpy >=1.22, <2.0.0
pandas >=0.20
matplotlib
tables  # ==pytables
openpyxl
pydantic ==1.*

# dependencies to actually build the documentation
sphinx ==5.3.0
sphinx-rtd-theme ==1.1.1
numpydoc
# This only installs the python bindings for pandoc. It works on read-the-docs
# because it has a system-wide pandoc installed but elsewhere, installing
# pandoc from conda is easier because it includes both the bindings and pandoc itself
pandoc
ipython
ipykernel
nbsphinx
