# To create the environment used to build the documentation:
# > conda create -n larray_doc2026 python=3.13
# > conda activate -n larray_doc2026
# > pip install -r .\doc\requirements.txt
# > cd <directory_of_larray_repository>
# > pip install -e .
# > cd <directory_of_larray-editor_repository>
# > pip install -e .
# dependencies to run larray tutorials (via nbsphinx)
numpy >=1.22
pandas >=0.20
matplotlib
tables  # ==pytables
openpyxl
pydantic ==2.12

# dependencies to actually build the documentation
sphinx ==8.2.3
sphinx-rtd-theme ==3.0.2
numpydoc
# This only installs the python bindings for pandoc. It works on read-the-docs
# because it has a system-wide pandoc installed but elsewhere, installing
# pandoc from conda is easier because it includes both the bindings and pandoc itself
pandoc
ipython
ipykernel
nbsphinx
