name: CI

# Triggers the workflow on push or pull request events
on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install & run Ruff
        uses: astral-sh/ruff-action@v3
        with:
          # Pin ruff version to make sure we do not break our builds at the
          # worst times
          version: "0.14.7"

  test:
    # name: Test (${{ matrix.python-version }}, ${{ matrix.os }})
    # runs-on: ${{ matrix.os }}
    name: Test on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        # os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          environment-file: environment.yml
          python-version: ${{ matrix.python-version }}
      - run: conda info
      - run: conda list
      - run: conda config --show
      - run: pytest
